[submodule "Cercle_2/Push_Swap"]
	path = Cercle_2/Push_Swap
	url = https://github.com/kerowam/Push_Swap.git
[submodule "Cercle_2/Exam_Rank_02"]
	path = Cercle_2/Exam_Rank_02
	url = https://github.com/kerowam/Exam_Rank_02.git
[submodule "Cercle_2/Minitalk"]
	path = Cercle_2/Minitalk
	url = https://github.com/kerowam/Minitalk.git
[submodule "Cercle_2/Fdf"]
	path = Cercle_2/Fdf
	url = git@github.com:kerowam/Fdf.git
[submodule "Cercle_3/minishell"]
	path = Cercle_3/minishell
	url = git@github.com:kerowam/minishell.git
[submodule "Cercle_3/Philosophers"]
	path = Cercle_3/Philosophers
	url = git@github.com:kerowam/Philosophers.git
[submodule "Cercle_4/NetPractice"]
	path = Cercle_4/NetPractice
	url = git@github.com:kerowam/NetPractice.git
[submodule "Cercle_4/cub3D"]
	path = Cercle_4/cub3D
	url = https://github.com/kerowam/cub3D.git
[submodule "Cercle_4/CPP-Modules"]
	path = Cercle_4/CPP-Modules
	url = https://github.com/kerowam/CPP-Modules.git
